.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

[dir] .mt-5,
[dir] .my-5 {
  margin-top: 3rem !important;
}

[dir] .mt-5.bottom,
[dir] .my-5.bottom {
  margin-bottom: 3rem !important;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
